
:root{
    --main-color:#44C6E9;
    --secondary-color:#FFF9FD;
    --Black-Color:#000000;
    --black-to-color:#D4E4F4;
    --heading-color:#00296D;
    --heading-to:#2977D5;
    --white-color:#ffffff;
}

.hero {
    padding: 5rem 0 1rem;
}
.hero .row{
    height: 100vh;
}
.hero p{
    text-align: justify;
}
.hero-contant{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    justify-content: center;
}

.hero-p{
    color: var(--main-color);
}
.hero .heading span{
    color: var(--main-color);
}

.herobtns{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
}
.herobtns a{
    padding: .5rem 0;
    transition: .5s;
    border-bottom: 1px solid var(--heading-color);
}
.herobtns a:hover{
    color: var(--main-color);
}
.herobtns .herobtn{
    padding: .5rem 2rem;
    background-color: var(--main-color);
    border-radius: 15px;
    box-shadow: 8px 8px 5px var(--heading-color);
    transition: .5s;
    border: none;
}
.herobtns .herobtn:hover{
    box-shadow: 8px 8px 5px var(--heading-to);
    color: var(--white-color);
}

.hero-img{
    height: 100%;
    width: 100%;
    background: url(../img/heroBG.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-img img{
    width: 80%;
}
.direccion{
    background-color: #D4E4F4;
    padding: 3rem 0;
}
.location{
    display: flex;
    gap: 1rem;
}
.location i{
    font-size: 35px;
    margin-top: .5rem;
}
/* hero end */

/* Nuestros Servicios */

.ournuestros p{
    color: var(--main-color);
}
.nuestros{
    padding: 3rem 0;
    background: url(../img/Services.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.nuestros-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 0px 50px var(--Black-Color);
    height: 100%;
}
.nuestros-item img{
    width: 94px;
}
.nuestros-item p{
    text-align: justify;
}
.nuestros-item a{
    color: var(--main-color);
    display: inline;
}

/* Nuestros Servicios end */

/* Testimonios */
.testimonios{
    padding: 4rem 0;
}
.testimonios .container{
    overflow: hidden;
}
.testimonios-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonios-contain{
    display: flex;
    align-items: center;
    gap: 10px;
    scroll-behavior: smooth;
    overflow: auto;
}
.testimonios-contain::-webkit-scrollbar{
    display: none;
}

.contant-box{
    padding: 1rem;
    min-width: 500px;
    border-radius: 10px;
    /* box-shadow: 5px 5px 20px var(--heading-color); */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid var(--Black-Color);
    scroll-behavior: smooth;
    transition: .5s;
}
.star{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.star h5{
   color: #252525;
}
.allstar i{
   color: var(--main-color);
}
.dot{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
.dot span{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--black-to-color);
    transition: .5s;
}
.dot span.active{
    background-color: var(--main-color);
}
/* Testimonios end */

/* Patricia Nieves Kiriaco */
.patricia {
    padding: 1rem 0;
}
.patricia-img img{
    width: 100%;
    border-radius: 10px;
}
.patricia-containe p{
    color: var(--main-color);
}
.patricia-containe ul,
.patricia-containe ul li{
    list-style: disc;
}
.patricia-containe ul{
    margin-left: 2rem;
}
.patricia-containe ul li ul{
    margin-left: 2rem;
}
/* Patricia Nieves Kiriaco end */

/* Sacate las dudas */
.sacate{
    padding: 2rem 0;
}
.sacate-heading{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.sacate-heading p{
    color: var(--main-color);
}

.sacate-items {
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
}
.sacate-items .sacate-contain{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    overflow: hidden;
    border-top: 1px solid var(--main-color);
    padding: 0 2rem;
}
.sacate-items .sacate-contain .sacate-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
    /* box-shadow: 2px 2px 10px var(--Black-Color); */
}
.sacate-items .sacate-contain .sacate-box p{
    font-weight: 600;
}

.sacate-items .sacate-contain .sacate-box i{
    font-size: 25px;
    transition: .5s;
}
.sacate-qustion{
    
    height: 0;
    transition: .5s;
}
.sacate-qustion p{
    text-align: justify;
    
}
/* Sacate las dudas */

/* contact  */

.contact{
    background: linear-gradient(to bottom, #D4E4F4, #2977D5);
}
.number{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.email {
    display: flex;
    gap: 1rem;
}
.email i{
    font-size: 25px;
}



/*  */

.form-section {
    padding: 50px 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-section .container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.form-section h2 {
    font-size: 28px;
    margin-bottom: 10px;
    color: #333;
}

.form-section p {
    font-size: 16px;
    color: #666;
    margin-bottom: 30px;
}

form .form-group {
    margin-bottom: 20px;
    text-align: left;
}

form .form-group label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

form .form-group input,
form .form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    outline: none;
}

form .form-group input:focus,
form .form-group textarea:focus {
    border-color: #44C6E9;
    background-color: #fff;
}

form .form-group .btn-submit {
    display: inline-block;
    background-color: #44C6E9;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form .form-group .btn-submit:hover {
    background-color: #369cb9;
}
.locations{
    height: 300px;
    width: 100%;
}
.locations iframe{
    height: 100%;
    width: 100%;
}
.end{
    background-color: var(--Black-Color);
    padding: 1rem 0 ;
}
.end p{
    color: var(--white-color);
}
/* contact end */

@media (max-width:1320px){
   
}
@media (max-width:1140px){
    
}
@media (max-width:960px){
    .hero-img img{
        width: 60%;
    }
    /* hero end */
    
}
@media (max-width:720px){
    
}
@media (max-width:540px){
    .contant-box{
        min-width: 300px;
    }
}